.founder-content .founder-content1 .img1 {
  background: url('../assets/Co-Founder1.png');
  width: 414px;
  height: 507px;
}

.founder-content .founder-content1 .img2 {
  background: url('../assets/Co-Founder2.png');
  width: 414px;
  height: 507px;
}

.header-image3 {
  position: relative;
  background: url('../assets/Ample\ light\ &\ Ventilation.jpeg');
  width: 100%;
  height: 487px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.header-image3::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.2;
  z-index: 2;
}

.header-image3 strong {
  font-size: 50px;
  z-index: 3;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-left: 5%
}


@media screen and (max-width: 600px) {

  .founder-content .founder-content1 .img1,
  .founder-content .founder-content1 .img2 {
    width: 207px;
    height: 253px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-image3 {
    height: 300px;
  }

}