footer{
    margin-top: 25px;
    background-color: #000000;
    color: #fff;
    padding-bottom:15px;
    border-bottom: 0.5px solid #dcdcdc
}

.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #dcdcdc;
    border-radius: 20px;
    height:400px;
    width: 400px;
  }


footer .grid{
    margin-left: 5%;
    margin-right: 5%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 40px;
    padding-top: 50px
}

footer .grid p{
    margin-top: 16px;
    color: #CACACA;
    font-family: 'Montserrat', sans-serif;
}

footer .grid .center{
    padding-left: 20%
}

footer .grid strong{
    font-size:18px;
    font-weight: 600
}

footer .grid .icons img{
   margin-right:15px;
   height:20px;
   width:20px;
   margin-top: 20px
}

footer .grid .link{
    margin-top: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

footer .grid .link span{
    border-bottom:1px dashed #C53418;
    width:60%;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer .grid .link .no-border{
    border-bottom:0px dashed #C53418;

}

footer .grid .link span a{
    font-size:16px;
    color:#CACACA
}

footer .grid .getintouch p{
    margin-top:2%;

}

footer .grid .reachus{
    background:url('../assets/map\ image.jpg');
    height:185px;
    width:100%;
    background-size: cover;
    margin-top: 20px
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross {
    cursor: pointer;
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    z-index:5;
}

.map-image{
    background:url('../assets/map\ image.jpg');
    width:100%;
    height:500PX;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color:#CACACA;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.copyright strong {
    margin-left:10px
}

@media screen and (max-width: 1000px) {
    footer .grid{
        grid-template-columns:repeat(2,1fr);
        grid-gap: 15px;
    }
}

@media screen and (max-width: 700px) {
    .map-image{
        height:150px;
        width:300px;
    }
}

@media screen and (max-width: 575px) {
    footer .grid p{
       font-size: 12px
    }
}


@media screen and (max-width: 390px) {
    footer .grid{
        grid-template-columns:repeat(1,1fr);
        grid-gap: 15px;
    }

    .map-image{
        height:100px;
        width:200px;
    }

    footer strong{
        font-size: 12px
    }

    .copyright strong{
        font-size: 12px
    }

    footer .grid .link{
        flex-direction:column;
        justify-content:left;
    }
    footer .grid .center{
        padding-left: 0px
    }
    
}