.header-image2 {
  position: relative;
  background: url('../assets/FCOA\ in\ Monsoon.jpeg');
  width: 100%;
  height: 487px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.header-image2::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.1;
  z-index: 2;
}

.header-image2 strong {
  font-size: 50px;
  z-index: 3;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-left: 5%
}



.founder-content {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px
}

.founder-content strong {
  font-size: 30px;
  z-index: 3;
  font-family: 'Montserrat', sans-serif;
}

.founder-content .founder-content1 {
  display: flex;
  margin-top: 30px
}

.founder-content .founder-content1 .founder-info{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.founder-content .founder-content1 .founder-info span{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600
}

.founder-content .founder-content1 .founder-info div{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.founder-content .founder-content1 .founder-image {
  background: url('../assets/Founder.png');
  width: 414px;
  height: 507px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  margin-left: 30px
}

.info p {
  font-size:20px;
  font-family: 'Montserrat', sans-serif;
  color:#707070;
}

@media screen and (max-width: 1000px) {
  .founder-content {
   display:flex;
   flex-direction:column
  }

  .founder-content .founder-content1 {
    display: flex;
    margin-top: 30px;
    flex-direction:column
  }

  .info {
    margin-top: 30px
  }
}

@media screen and (max-width: 600px) {

  .header-image2 {
    height: 300px;
  }

  .founder-content .founder-content1 .founder-image {
    width: 207px;
    height: 253px;
  }

  .founder-content .founder-content1 .founder-info span{
    font-size: 22px;
  }
  
  .founder-content .founder-content1 .founder-info div{
    font-size: 22px;
  }

  .info p {
    font-size:18px;
  }
}