.info1{
    margin-left: 5%;
    margin-top: 30px;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    color:#707070;
}

.header-image5 {
  position: relative;
  background: url('../assets/Jogging\ track\ &\ playground.jpeg');
  width: 100%;
  height: 487px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.header-image5::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.2;
  z-index: 2;
}

.header-image5 strong {
  font-size: 50px;
  z-index: 3;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-left: 5%
}

@media screen and (max-width: 600px) {
  .header-image5 {
    height: 300px;
  }

    .info1{
        font-size:18px;
    }
  }